<%# app/views/posts/_body.html.erb %>
<div class="prose prose-slate text-left dark:bg-slate-950 dark:prose-invert prose-blockquote:border-slate-200 prose-blockquote:bg-slate-50/70 prose-blockquote:text-slate-700 dark:prose-blockquote:border-slate-700 dark:prose-blockquote:bg-slate-900/60 dark:prose-blockquote:text-slate-100">
    <% if @post.content_md.present? %>
      <%= markdown(@post.content_md) %>
    <% elsif @post.respond_to?(:content) && @post.content.present? %>
      <%= @post.content %>
   
    <% end %>
  </div>
