<%# app/views/posts/_body.html.erb %>
<div class="prose-lite text-left">
    <% if @post.respond_to?(:content) && @post.content.present? %>
      <%= @post.content %>
    <% elsif @post.content_md.present? %>
      <%= markdown(@post.content_md) %>
   
    <% end %>
  </div>