
<%# content_for :title, "Showing post" %>

<%= render 'shared/nav_partial_post' %>


<!-- Da sistemare la nav e vedere di filtrare per etichette o creare i gate con i posts per i vari formati! 
E poi vedere come creare il percorso con gli eventi e il resto -->

<!-- app/views/pages/home.html.erb -->
<div class="max-w-6xl mx-auto p-6">
   <!--header class="mb-6">

  <h1 class="text-3xl font-bold"><%#= @taxbranch.slug_label %></h1>
  <% if (desc = Current.domain&.description).present? %>
    <p class="text-slate-600 mt-2"><%#= desc %></p>
  <% end %>
</header--> 

<%#= Current.domain.id %>


<% if authenticated? %>
<%#= Current.session&.id %>
<% end %>

  <% if @children.any? %>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
      <% @children.each do |child_tax| %>
        <%= render "posts/child_card", child_taxbranch: child_tax %>
      <% end %>
    </div>
  <% else %>
    <p class="text-slate-500">Non ci sono elementi.</p>
  <% end %>
</div>


<footer class="mt-12 border-t border-slate-200 bg-white py-6 text-center text-slate-700">
  <div class="max-w-3xl mx-auto px-4">
    <div class="flex flex-col items-center justify-center space-y-3">
      <a href="https://www.dash.org/" target="_blank" rel="noopener" class="flex items-center space-x-2 hover:opacity-80 transition">
        <img src="https://media.dash.org/wp-content/uploads/dash_digital-cash_logo_2018_rgb_for_screens.png"
             alt="Dash Digital Cash Logo"
             class="h-6 w-auto">
        <span class="font-semibold text-slate-800">Dash Digital Cash Italia</span>
      </a>

      <p class="text-sm text-slate-600 leading-relaxed">
        Questi esercizi sono gratuiti, e sono il primo passo del progetto <strong>PosturaCorretta</strong>.<br>
        Se vuoi <strong>sostenerci</strong> puoi fare una donazione in 
        <strong class="text-sky-600">Dash Digital Cash 💙</strong>.
      </p>

      <p class="mt-2 text-xs italic text-slate-500">
        👉 Il tuo contributo aiuta a diffondere contenuti educativi, strumenti e programmi dedicati alla salute e alla postura.
      </p>
    </div>
  </div>
</footer>